<% include header %>

<h1 class="aanmelden-titel">Aanmelden</h1>

<section class="aanmelden">

  <form>
    <input type="text" name="gebruikersnaam" placeholder="Gebruikersnaam">
    <input type="password" name="wachtwoord" placeholder="Wachtwoord">
    <a href="#"><div class="aanmelden-vergeten">Wachtwoord vergeten</div></a>
    <a href="/home"><div class="aanmelden-aanmelden">Aanmelden</div></a>
  </form>

</section>

<% include footer %>
