<% include header%>
<h1>Resultaten</h1 >
<form class="halte" method="get" action="/halte">
  <input type="text" name="halte_id" value="" class="halte-input" required placeholder=" HALTENUMMER">
  <input type="submit" class="halte-submit" value="OPNIEUW ZOEKEN">
</form>
<%- halteInfo %>
<% include footer%>
