<% include header %>

<h1>Home</h1>
<section class="home">
  <div class="content">
    <a href="/routePlanner">
      <div class="btn">
        <img src="/img/routes.svg" alt="">
        <p>Route</p>
      </div>
    </a>

    <a href="/halte">
      <div class="btn">
        <img src="/img/haltes.svg" alt="">
        <p>Halte</p>
      </div>
    </a>

    <a href="/ticket">
      <div class="btn">
        <img src="/img/tickets.svg" alt="">
        <p>Ticket</p>
      </div>
    </a>

    <a href="/instellingen">
      <div class="btn">
        <img src="/img/settings.svg" alt="">
        <p>Instellingen</p>
      </div>
    </a>

  </div>

</section>

<% include footer %>
