<!doctype html>
<html>
	<head>
		<title>De Lijn App</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
    <% include achtergrond %>

    <section class="opstartscherm">
      <img class="opstartscherm-logo" src="/img/logo.svg">
      <a href="/aanmelden"><div class="opstartscherm-aanmelden">Aanmelden</div></a>
      <a href="/registreren"><div class="opstartscherm-registreren">Registreren</div></a>
      <a href="/home"><div class="opstartscherm-overslaan">Overslaan ></div></a>
    </section>

<% include footer %>
