<% include header %>

<h1 class="registreren-titel">Registreren</h1>
<section class="registreren">

  <form>
    <input type="text" name="voornaam" placeholder="Voornaam">
    <input type="text" name="achternaam" placeholder="Achternaam">
    <input type="email" name="mail" placeholder="E-mail">
    <input type="password" name="wachtwoord" placeholder="Wachtwoord">
    <input type="password" name="bevestigen" placeholder="Wachtwoord bevestigen">
  </form>

  <a href="/home"><div class="registreren-account">Account aanmaken</div></a>

</section>

<% include footer %>
