<% include header %>

<h1> Plan Route </h1>

<div class="routeT">
  <input class="routeTijden vroegere" type="button" name="" value="Vroegere route">
  <a href="/routeDetail"><p class="routeTijden tijd">13:37 - 13:42</p></a>
  <p class="routeTijden tijd">13:39 - 13:45</p>
  <p class="routeTijden tijd">13:41 - 13:48</p>
  <input class="routeTijden latere" type="button" name="" value="Latere route">
</div>


<% include footer %>
