<% include header %>

<h1> Plan Route </h1>
<div class="routeD">
  <p class="routeTijden tijden"> 13:37 </p>
  <p class="routeTijden tijdD">Rooseveltplaats</p>

  <img class="nr" src="img/nr.png" alt="">
  <p class="lijnnr">Antwerpen - Putte</p>

  <p class="routeTijden tijden"> 13:42 </p>
  <p class="routeTijden tijdD">Noorderplaats</p>
</div>

<% include footer %>
