<% include header %>

<h1> Plan Route </h1>

<form class="routeP">
  <div class="van">
    <label class="routeLabel bestemming" for="van">Van</label>
    <input type="text" name="van" value="Adres, halte, station, ...">
  </div>

  <div class="naar">
    <label class="routeLabel bestemming" for="naar">Naar</label>
    <input type="text" name="naar" value="Adres, halte, station, ...">
  </div>

  <div class="wanneer">
    <label class="routeLabel datum"for="date">Datum Vertrek</label>
    <input type="date" name="datum" value="">
    <label class="routeLabel datum" for="time">Uur Vertrek</label>
    <input type="time" name="datum" value="">
  </div>
  </form>

  <a href="/routeTijden"><input class="routePlannen" type="submit" value="Plan Route"></a>
<% include footer %>
