<% include header %>

<h1>Koop ticket</h1>
<section class="ticket">

  <div class="ticket-achtergrond">
  <p class="ticket-info">Geldig voor 60 minuten</p>

  <div class="knoppen">
    <div class="knop" id="min">-</div>
    <div class="knop" id="aantal">1</div>
    <div class="knop" id="plus">+</div>
  </div>

  <p class="ticket-kosten">Totale kosten</p>
  <p class="ticket-prijs" id="prijs">€ 3,00</p>
  <div class="ticket-btn">Betaal 60 minuten M-ticket</div>
  </div>
</section>

<% include footer %>
